astroid
atomicwrites
attrs
autopep8
backcall
bokeh
certifi
colorama
decorator
iniconfig==1.1.1
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
Jinja2==3.0.0
jupyter-client
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.0
mccabe==0.6.1
numpy==1.24.3
packaging==20.8
pandas
parso==0.7.1
pi==0.1.2
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.13.1
prompt-toolkit==3.0.8
py==1.10.0
pycodestyle==2.7.0
Pygments==2.7.3
pylint==2.6.0
pyparsing==2.4.7
pyprimes==0.1
python-dateutil
pytz==2021.1
pywin32==306
PyYAML==5.4.1
pyzmq==20.0.0
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
wcwidth==0.2.5
wincertstore==0.2
wrapt==1.12.1
